<br>
<br>

<%= image_tag @photo.avatar.url(:medium) %>
<br>
<% if current_user != nil %>
<%= @photo.tally %> -
<%= link_to image_tag("tinyheart.jpg"), user_photo_likes_path(@user, @photo), :data => {:method => "post"} %>
<% else %>
<%= image_tag("tinyheart.jpg") %>
<% end %>


<br>
<p>In this photo: </p>
<% @tags.each do |tag| %>
  <p><%= tag.user.name %></p>
<% end %>

<% if current_user != nil %>
  <%= link_to "Add Tag", new_user_photo_tag_path(@user, @photo) %>
  <% if current_user.id == @user.id %>
    | <%= link_to "Delete Picture", user_photo_path(@user, @photo), :data => {:confirm => "Are you sure?", :method => "delete"} %>
  <% end %>
<% end %>

